    <div class="page-header">
        <h1>{{title}}</h1>
    </div>

    <div class="input-group" data-ng-show="questions.length">
        <input ng-model="query" class="form-control" placeholder="Buscar...">
    </div>
    <br><br>

    <div data-ng-repeat="question in questions | orderBy: -created | filter:query" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-11">
                    <div class="list-group">
                    <span class="list-group-item">
                        <a class="linkSemDecoracao preto" data-ng-href="#!/questions/{{question._id}}" >
                            <small>
                                <em class="text-muted">Postado em {{question.created | date:'medium'}}. Por <b>{{question.user.displayName}}</b></em>
                            </small>
                            <h4 class="list-group-item-heading">{{question.title}}</h4>
                        </a>

                        <span class="badge">{{question.answers.length}} respostas</span>
                        <span class="badge">{{question.totalVotes}} votos</span>

                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="questions.length">
        Sem perguntas, por que você não <a href="/#!/questions/create">cria uma</a>?
    </div>

    <div data-ng-show="error" class="text-center text-danger">
        <strong>{{error}}</strong>
    </div>